body {
margin: 0;
font-family: Arial, Tahoma;
font-size: 100%;
}
h1 {
margin: 20px;
padding: 0px;
text-align: center;
font-family: Times New Roman
}
h2 {
font-size: 1rem;
margin: -10px 0 0 0;
padding: 0;
text-align: center;
font-weight: lighter;
}
ul {
list-style: none outside url('../images/li.png');
line-height: 20px;
}
h3, .subSectionTitle {
font-size: 1.1rem;
text-align: center;
overflow: hidden;
}
h3 span {
	position: relative;
    display: inline-block;
}
h3 span::before, h3 span::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 999px;
    background-color: #000;
    display: block;
}
h3 span::before {
    right: 100%;
    margin-right: .5em;
}
h3 span::after {
    left: 100%;
    margin-left: .5em;
}
table{
	border-collapse: collapse;
	min-width:300px;
}
td, th {
	border: 1px solid black;
	padding: 4px;
}
i {
	color: #666;
}
.spoiler_head {
    margin: 1px 0;
    background: url(../images/bg.png) no-repeat;
    background-position: center;
    position: relative;
    padding: 10px 18px 10px 18px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
}
.spoiler_body {
display: none;
padding: 5px;
background-color: #F1F1F1;
border: 1px solid #D1D9Df;
}
.youtubelink {
display: none;
}
.mapMarker {
	font-weight: bold;
	color: #2B7A29;
	text-decoration: none;
	border-bottom: 1px dashed #2B7A29;
}



.img-shadow {
	box-shadow: 0 8px 6px -6px black;
    padding: 5px 0 0 0;
}


ol.linkList {
    counter-reset: li;
    list-style: none;
    font: 16px 'trebuchet MS', 'lucida sans';
    padding-left: 1.5em;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.linkList a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s easy-out;
}
.linkList a:hover:before {
    transform: rotate(360deg);
}
.linkList a:hover {
    background: #eee;
}
.linkList a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 1.5em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}